/* select 배치 */
.TAB .select {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50px;
  left: 50%;
  justify-content: space-between;
}
.TAB .select button {
  display: inline-block;
  margin: 0 50px;
  z-index: 1;
}

/* select 스타일링 */
.TAB .select .off {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  background-color: #55555555;
  border-radius: 8px;
  border: none;
}
.TAB .select .on {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  background-color: #000000;
  border-radius: 8px;
  border-color: #000000;
}
.select .text-wrapper-dark {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  font-style: normal;
}
.select .text-wrapper-bright {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  font-style: normal;
}

/* 마우스 올릴 때 이벤트 */
.TAB .select .off:hover {
  background-color: #00000055;
  z-index: 2;
}