/* 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WavvePADO-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '양진체';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Use the font in your CSS */
body {
    font-family: 'JalnanGothic', sans-serif;
    background-size: cover;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery img {
    height: 400px;
}

.image-container {
    margin: 10px 5px 10px 5px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Add a box shadow */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add a transition */
    transition: transform 0.3s ease;
}

.image-container p {
    margin-bottom: 14px;
}

.image-container b {
    margin-bottom: 10px;
}

.image-container:hover {
    /* Add a hover effect */
    transform: scale(1.02);
}

.image-name {
    color: #4b4b4b;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.download-button {
    display: inline-block;
    font-weight: normal;
    padding: 10px 25px;
    color: #fff;
    background-color: #6b6b6b;
    border-radius: 5px;
    text-decoration: none;
    /* Add a transition */
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #8ca2f0;
}

.pagination-container {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    margin: 5px;
    padding: 8px 0px;
    text-decoration: none;
    color: #516deb;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-align: center;
    flex-basis: calc(10% - 30px);
}

.pagination a:hover {
    background-color: #516deb;
    color: #fff;
}

.pagination .current-page {
    background-color: #516deb;
    color: #fff;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup img {
    width: 100%;
    object-fit: contain;
    max-height: 86vh;
    max-width: 98%;
}

.popup video {
    width: 100%;
    object-fit: contain;
    max-height: 86vh;
    max-width: 98%;
}

.image-container img {
    cursor: pointer;
}

.loading-text {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    margin-top: 2.8rem;
}

.navbar {
    display: flex;
    justify-content: space-between;

    overflow: hidden;
    padding: 14px 16px;
}

.navbar .title {
    color: #252525;
    font-size: 2.3rem;
    font-weight: normal;
    margin-left: 2rem;
    margin-top: 1rem;
}

.navbar .subtitle {
    color: #585858;
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: 0.2rem;
}

.navbar .page-number {
    color: #3a3a3a;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.navbar .page-number:hover {
    color: #7e7e7e;
}

.metadata {
    font-size: 0.75em;
    color: #7b7b7b;
    text-align: center;
    display: none;
    line-height: 0.8;
    margin-top: 15px;
}

.progress-bar {
    width: 16rem;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar-inner {
    height: 100%;
    background-color: #869deb;
    border-radius: 8px;
    width: 0%;
    transition: width 0.05s ease-in;
}

.page-jump {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.page-jump input {
    padding: 10px;
    font-size: 0.9rem;
    margin-right: 1px;
    width: 80px;
}

.page-jump button {
    padding: 10px 15px;
    font-size: 0.9rem;
    background-color: #516deb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page-jump button:hover {
    background-color: #516deb;
}

@media only screen and (max-width: 600px) {

    .page-jump {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .page-jump input {
        padding: 5px;
        font-size: 0.9rem;
        margin-right: 1px;
        width: 50px;
    }

    .page-jump button {
        padding: 5px 10px;
        font-size: 0.9rem;
        background-color: #516deb;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .gallery {
        padding: 0px;
    }

    .navbar {
        padding: 5px 1px;
    }

    .gallery img {
        height: 300px;
    }

    .image-container {
        margin: 10px 1px;
        text-align: center;
        border: 1px solid #ccc;
        padding: 1px;
        width: 175px;
    }

    .pagination-container {
        width: 99%;
    }

    .pagination a {
        flex-basis: calc(10% - 10px);
        margin: 0 1px;
        font-size: 0.6rem;
        padding: 5px 0px;
    }

    .download-button {
        font-size: 0.7rem;
        margin-bottom: 1px;
        padding: 8px 18px;
    }

    .pagination {
        width: 100%;
        margin-bottom: 10px;
    }

    .image-container p {
        margin-bottom: 5px;
    }

    .image-name {
        font-weight: normal;
        font-size: 0.55rem;
    }

    .navbar .title {
        font-size: 1.4rem;
        margin-left: 0.2rem;
        margin-top: 1rem;
    }

    .navbar .subtitle {
        color: #585858;
        font-size: 0.7rem;
        margin-left: 0.2rem;
        margin-top: 0.1rem;
    }

    .navbar .page-number {
        font-size: 0.8rem;

        margin-right: 0.2rem;
        margin-top: 2rem;
    }

    .metadata {
        font-size: 0.5rem;
        line-height: 0.5;
    }

    .progress-bar {
        width: 20rem;
        height: 40px;
        border-radius: 20px;
    }

    .progress-bar-inner {
        border-radius: 20px;
    }

    .loading-text {
        font-size: 1.5rem;
        margin-top: 4rem;
    }

    .popup img {
        max-height: 75vh;
    }

    .popup video {
        max-height: 60vh;
    }

}